<div class="panel panel-primary">
  <div class="panel-heading">
    {{ titleName }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Note Title</label>
        <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "note.title"/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Note Content</label>
        <input type="text" class="form-control" formControlName="price" #price [(ngModel)] = "note.content" />
      </div>
      <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['price'].errors.required">
          Content is required.
        </div>
      </div>
        <div class="form-group">
          <button (click)="updatenote(name.value, price.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</div>
