<nav *ngIf="show" class="navbar navbar-light bg-faded">
    
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav navbar-nav" routerLink="index" routerLinkActive="active">
         Home
        </a></li>
        
        <li class="nav-item"><a class="nav navbar-nav" routerLink="create" routerLinkActive="active">
          Add Note
        </a></li>
            <li class="nav-item"><a class="nav navbar-nav" routerLink="login"  routerLinkActive="active">
          {{log}}
        </a></li>
        </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>





