<div class="panel panel-primary">
    <div class="panel-heading">
      {{ titlename }}
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Note title</label>
          <input type="text" class="form-control" formControlName="title" #title />
        </div>
        <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['title'].errors.required">
            title is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Note content</label>
          <input type="text" class="form-control" formControlName="contenet" #contenet/>
        </div>
        <div *ngIf="angForm.controls['contenet'].invalid && (angForm.controls['contenet'].dirty || angForm.controls['contenet'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['contenet'].errors.required">
            contenet is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="addnote(title.value, contenet.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
  </div>